*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Tofino";
  src: url("/font/Tofino-Book.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Tofino";
  src: url("/font/Tofino-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Tofino";
  src: url("/font/Tofino-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Tofino";
  src: url("/font/Tofino-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.logo {
  width: 14rem;
  margin-top: 2rem;
  margin-left: 1.5rem; }

.navbar-toggle {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 2rem; }

.visible-icon {
  font-size: 3.4rem;
  position: absolute;
  right: .5rem;
  top: 1rem; }

.invisible-icon {
  font-size: 0 !important; }

.start-btn {
  height: 5rem;
  width: 15rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  color: white;
  background-color: #5bc399;
  text-align: center;
  border: 1px solid black; }

header {
  background-image: url("/img/atomist_logo_shapes_banner-home.jpg");
  background-size: cover;
  height: 70vh;
  background-position: bottom; }

.navbar {
  font-size: 2.2rem;
  background-size: cover;
  background-position: left top;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.main-nav {
  display: none; }
  .main-nav li {
    margin-left: 2rem;
    margin-top: 3rem;
    list-style-type: none; }

.nav-links {
  text-decoration: none;
  color: white; }

.active {
  display: block; }

.disable {
  display: none; }

.background-img-toggle {
  background-image: url("/img/atomist_logo_shapes_banner-product.jpg"); }

.app-sdm-container {
  position: absolute;
  top: 51.5rem; }

.app-sdm {
  width: 100vw;
  height: 25vh; }

.login {
  position: relative;
  top: 35rem;
  color: white;
  margin-left: 2rem; }
  .login p {
    font-size: 1.6rem; }

.heading {
  text-align: center;
  color: white;
  width: 100vw;
  position: absolute;
  top: 13rem; }
  .heading h1 {
    font-size: 3rem; }
  .heading p {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1.5rem; }

.modern-delivery-platform {
  color: #2a2a2a;
  margin-top: 40rem;
  font-family: "Tofino", "sans-serif";
  font-size: 100%;
  text-align: center; }
  .modern-delivery-platform h2 {
    font-size: 2.8em;
    margin-bottom: 0.8em; }
  @media (min-width: 770px) {
    .modern-delivery-platform > div {
      display: grid;
      grid-column-gap: 0rem;
      grid-template-columns: 50% 50%; } }
  .modern-delivery-platform > div > div {
    background-color: #F7F7F7;
    display: inline-block;
    margin: 1.4em auto;
    padding: 0 0 4em 0;
    width: 85%; }
    @media (min-width: 770px) {
      .modern-delivery-platform > div > div.left {
        margin: 1.5em 1.5em 1.5em auto; } }
    @media (min-width: 770px) {
      .modern-delivery-platform > div > div.right {
        margin: 1.5em auto 1.5em 1.5em; } }
    .modern-delivery-platform > div > div img {
      margin: 0 auto;
      width: 16em; }
    .modern-delivery-platform > div > div > .description {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 82%; }
      .modern-delivery-platform > div > div > .description h3 {
        font-size: 2em;
        font-weight: 500;
        margin: 0 auto; }
      .modern-delivery-platform > div > div > .description p {
        color: #717274;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 1.9;
        margin: 0.6em auto; }
        .modern-delivery-platform > div > div > .description p span {
          color: #48bc8d; }
    @media (min-width: 770px) {
      .modern-delivery-platform > div > div .description h3 {
        width: 85%; }
      .modern-delivery-platform > div > div .description p {
        width: 88%; } }
    @media (min-width: 1025px) {
      .modern-delivery-platform > div > div {
        display: flex;
        text-align: left; }
        .modern-delivery-platform > div > div .description {
          background-color: transparent;
          padding-top: 4.5em;
          padding-bottom: 2em; }
          .modern-delivery-platform > div > div .description h3 {
            width: 80%;
            margin: 0; }
          .modern-delivery-platform > div > div .description p {
            width: 100%;
            margin: 0;
            padding-top: 1em;
            padding-right: 2.8em; } }
  .modern-delivery-platform a {
    background-color: #57c296;
    border-radius: 0.3em;
    color: white;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 1em;
    padding: 1.15em 1.95em;
    text-decoration: none; }
  .modern-delivery-platform a:hover {
    background-color: #43B788; }

.software-delivery-machine {
  color: #2a2a2a;
  font-family: "Tofino", "sans-serif";
  margin-top: 12em; }
  .software-delivery-machine > h2 {
    font-size: 2.4em;
    text-align: center; }
  .software-delivery-machine > p {
    color: #717274;
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
    text-align: center;
    width: 88%; }
  .software-delivery-machine > img {
    display: block;
    margin: 5.5em auto 3.2em auto;
    width: 92%; }
  .software-delivery-machine > div {
    background-color: #F7F7F7;
    margin: 0 auto;
    padding: 1.2em;
    width: 92%; }
    .software-delivery-machine > div i {
      display: block;
      font-size: 1.5em;
      position: relative;
      left: 1.3em;
      top: 1.3em; }
    .software-delivery-machine > div .command-interface {
      color: #007BBD; }
    .software-delivery-machine > div .chatops {
      color: #5BBCC3; }
    .software-delivery-machine > div .event-hub {
      color: #C6DD72; }
    .software-delivery-machine > div .cortex {
      color: #227F7E; }
    .software-delivery-machine > div .integrations {
      color: #1B2937; }
    .software-delivery-machine > div div {
      margin: auto 1em 1.5em 5em; }
      .software-delivery-machine > div div h3 {
        color: #2a2a2a;
        font-size: 1.8em;
        font-weight: 500;
        margin-bottom: 0.3em; }
      .software-delivery-machine > div div p {
        color: #717274;
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.9; }
