.logo {
  width: 14rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  @include desktop-s {
    width: 22rem;
    height: 6rem;
    margin-left: 0;
    margin-right: 2rem;
    margin-top: 3rem;
  }
  
@include mobile-landscape {
  margin-left: 5rem;
}
}

.navbar-toggle {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 2.5rem;


}

.visible-icon {
  font-size: 3.4rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

.invisible-icon {
  font-size: 0 !important;
}

button {
  cursor: pointer;
}

form {
  width: 15rem;
  
}

.login-btn {
  border: none;
  background-color: transparent;
  color: white;
  width: 10rem;
  
 

  @include desktop-s {
    margin-top: 5rem;
    font-size: 1.6rem;
    margin-left: 8.5rem;
    
    
    
  }
}
.start-btn {
  height: 5rem;
  width: 13rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  color: white;
  background-color: #5bc399;
  text-align: center;
  border: 1px solid black;
  
  &:hover {
    background-color: darken(#5bc399, 8%)
}

  @include desktop-s {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 3.5rem;
    border: 1px solid transparent;
    color: white;
    -webkit-box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
  }
}

.start-main-btn {
  width: 20rem;
  height: 6rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  background-color: #5bc399;
  border: 1px solid transparent;
  text-align: center;
  
  &:hover {
    background-color: darken(#5bc399, 8%)
}
}

.latest-img {
  height: 25vh;
  width: 90vw;
  object-fit: cover;
  object-position: 0 0%;
  -webkit-box-shadow: 7px 10px 52px 23px rgba(0,0,0,0.07);
  -moz-box-shadow: 7px 10px 52px 23px rgba(0,0,0,0.07);
  box-shadow: 7px 10px 52px 23px rgba(0,0,0,0.07);
border: 2px solid white;
align-self: center;

@include min-desktop {
  width: 15vw;
  height: 15vh;
  object-position: 50% 50%;
  margin-bottom: 0rem;
  
}

@include desktop-s {
  width: 15vw;
  height: 30vh;
  object-position: 50% 50%;
  margin-bottom: 0rem;
  
}

@include desktop-m {
  height: 20vh;
}

@include desktop-1440 {
  height: 30vh;
}

@include ipad-pro {
  height: 25vh;
  width: 90vw;
  object-fit: cover;
  object-position: 0 0%;
}
}

.read-btn {
  font-size: 1.7rem;
  font-weight: 100;
  height: 5rem;
  width: 13rem;
  color: #43b788;
  border-radius: .7rem;
  background-color: white;
  border: 2px solid #43b788;
  margin: 2rem 2rem;

  &:hover {
    background-color: #43b788;
    color: white;
  }

  @include min-desktop  {
    margin-left: 5rem;
    height: 4rem;
    width: 10rem;
    font-size: 1.3rem;


  }
}