@import "variables";
@import "mixins";
.logo {
  width: 14rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  @include desktop-s {
    width: 22rem;
    height: 6rem;
    margin-left: 0;
    margin-right: 2rem;
    margin-top: 3rem;
  }
}

.navbar-toggle {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 2.5rem;


}

.visible-icon {
  font-size: 3.4rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

.invisible-icon {
  font-size: 0 !important;
}

button {
  cursor: pointer;
}

form {
  width: 15rem;
  
}

.login-btn {
  border: none;
  background-color: transparent;
  color: white;
  width: 10rem;
  
 

  @include desktop-s {
    margin-top: 5rem;
    font-size: 1.6rem;
    margin-left: 8.5rem;
    
    
    
  }
}
.start-btn {
  height: 5rem;
  width: 13rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  color: white;
  background-color: #5bc399;
  text-align: center;
  border: 1px solid black;
  
  &:hover {
    background-color: darken(#5bc399, 8%)
}

  @include desktop-s {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 3.5rem;
    border: 1px solid transparent;
    color: white;
    -webkit-box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 105px -16px rgba(0, 0, 0, 0.75);
  }
}

.start-main-btn {
  width: 20rem;
  height: 6rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  background-color: #5bc399;
  border: 1px solid transparent;
  text-align: center;
  
  &:hover {
    background-color: darken(#5bc399, 8%)
}
}
