//Header section
header {
  background-image: url(../img/atomist_logo_shapes_banner-home.jpg);
  background-size: cover;
  height: 70vh;
  background-position: bottom;

  @include mobile-s {
    height: 85vh;
  }

  @include mobile-m {
    height: 85vh;
  }

  @include iphone-x {
    height: 80vh;
  }

  @include mobile-l {
    height: 80vh;
  }

  @include tablet-l {
    height: 65vh;
  }

  @include desktop-s {
    height: 120vh;
  }

  @include desktop-m {
    height: 80vh;
  }

  @include desktop-l {
    height: 70vh;
  }

  @include desktop-4k {
    height: 58vh;
  }

  @include mobile-landscape {
    height: 130vh;
  }
}

//Navbar
.navbar {
  font-size: 1.8rem;
  background-size: cover;
  background-position: left top;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include desktop-s {
    display: flex;
    flex-direction: row;
    height: 13vh;
    justify-content: space-around;
  }
}

//Toggle Button
.navbar-toggle {
  @include desktop-s {
    display: none;
  }
}

.main-nav {
  display: none;

  @include desktop-s {
    display: flex;
    margin-right: 25rem;
  }

  ul {
    @include desktop-s {
      display: flex;
      flex-direction: row;
      margin-right: 8rem;
    }
  }

  li {
    margin-left: 2rem;
    margin-top: 3rem;
    list-style-type: none;
    @include desktop-s {
      margin-left: 0rem;
      padding-right: 6rem;
      margin-top: 5rem;
    }
  }
}

.nav-links {
  text-decoration: none;
  color: white;
}

.active {
  display: block;
}

.disable {
  display: none;
}

.background-img-toggle {
  background-image: url(../img/atomist_logo_shapes_banner-product.jpg);
}

//Sdm Image Container

.app-sdm-container {
  position: absolute;
  top: 51.5rem;
  width: 100vw;
  animation: moveInBottom 1s ease-out 3s;
  animation-fill-mode: backwards;

  @include mobile-s {
    top: 43rem;
  }

  @include mobile-m {
    top: 40rem;
  }

  @include mobile-l {
    top: 42rem;
  }

  @include desktop-s {
    top: 45rem;
  }

  @include mobile-landscape {
    top: 37rem;
  }
}

//Sdm Image

.app-sdm {
  width: 100vw;
  height: 25vh;

  @include mobile-s {
    height: 30vh;
  }

  @include mobile-m {
    height: 35vh;
  }

  @include mobile-l {
    height: 35vh;
  }

  @include tablet-s {
    height: 40vh;
    display: block;
    width: 80vw;
    margin: 0 auto;
  }

  @include desktop-s {
    height: 70vh;
    display: block;
    width: 60vw;
    margin: 0 auto;
  }

  @include desktop-m {
    height: 50vh;
    display: block;
    width: 60vw;
    margin: 0 auto;
  }

  @include desktop-4k {
    height: 40vh;
    display: block;
    width: 60vw;
    margin: 0 auto;
  }

  @include mobile-landscape {
    height: 70vh;
    width: 70vw;
  }
}

//Login Button

.login {
  position: relative;
  top: 35rem;
  color: white;
  p {
    cursor: pointer;
  }

  @include mobile-s {
    top: 27rem;
    margin-left: 1rem;
  }

  @include mobile-m {
    top: 40rem;
    margin-left: 1rem;
  }

  @include mobile-l {
    top: 30rem;
  }

  @include tablet-s {
    top: 30rem;
  }

  @include desktop-s {
    display: flex;
    justify-content: center;
    top: 0;
    position: absolute;
    margin-left: 47rem;
  }
}

//Heading - "Modernize Delivery & Descriptive Text"

.heading {
  text-align: center;
  color: white;
  width: 100vw;
  position: absolute;
  top: 13rem;

  @include desktop-s {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20rem;
  }

  @include mobile-landscape {
    top: 10rem;
  }

  h1 {
    font-size: 3rem;
    animation: moveInLeft 1s ease-out;

    @include desktop-s {
      width: 45vw;
      font-size: 5rem;
      line-height: 1.3;
    }
  }

  p {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1.5rem;
    animation: moveInRight 1s ease-out;

    @include desktop-s {
      width: 50vw;
    }
  }
}

//"Move beyond pipelines" section
.pipelines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: -5rem;
  font-family: "Tofino", "sans-serif"; //To be adjusted
  text-align: center;

  @include mobile-s {
    margin-top: 5rem;
  }

  @include mobile-m {
    margin-top: -3rem;
  }

  @include mobile-l {
    margin-top: -4rem;
  }

  @include iphone-x {
    margin-top: -10rem;
  }

  @include tablet-l {
    margin-top: 1rem;
  }

  @include ipad {
    margin-top: -17rem;
  }
  @include ipad-pro {
    margin-top: -37rem;
  }

  @include desktop-s {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 82rem;
  }

  @include desktop-m {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 85rem;
  }

  @include desktop-1440 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 73rem;
  }

  @include desktop-l {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 90rem;
  }

  @include desktop-4k {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 110rem;
  }

  @include mobile-landscape {
    margin-top: 30rem;
  }

  @include max-desktop {
    z-index: -9999;
  }

  h3 {
    font-size: 1.4rem;

    @include desktop-s {
      font-size: 1.7rem;
    }
  }
  p {
    line-height: 1.7;
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 100;

    @include desktop-s {
      font-size: 1.55rem;
    }
  }
}

//Toggle for <br> depending on breakpoints
.break {
  @include desktop-s {
    display: none;
  }
}

.break-desktop-m {
  @include desktop-s {
    display: block;
  }
}

.break-desktop {
  @include max-desktop {
    display: none;
  }
}

// Modern Delivery Platform

.modern-delivery-platform {
  color: color(heading);
  font-family: "Tofino", "sans-serif"; // To be adjusted
  font-size: 100%;
  text-align: center;

  //Added breakpoints to adjust margin-top in order not to collide with "Move Beyond Pipelines" section

  @include mobile-s {
    margin-top: 40rem;
  }

  @include mobile-m {
    margin-top: 40rem;
  }

  @include mobile-l {
    margin-top: 42rem;
  }

  @include tablet-s {
    margin-top: 47rem;
  }

  @include tablet-l {
    margin-top: 55rem;
  }

  @include desktop-s {
    margin-top: 43rem;
  }

  @include desktop-m {
    margin-top: 50rem;
  }

  @include desktop-l {
    margin-top: 60rem;
  }

  h2 {
    display: block;
    font-size: 2.8em;
    margin: 0 auto 0.8em auto;
    width: 90%;
  }

  & > div {
    @include tablet-l {
      display: grid;
      grid-column-gap: 0rem;
      grid-template-columns: 50% 50%;
    }

    & > div {
      background-color: color(div-bg);
      display: inline-block;
      margin: 1.4em auto;
      padding: 0 0 4em 0;
      width: 85%;

      &.left {
        @include tablet-l {
          margin: 1.5em 1.5em 1.5em auto;
        }
      }

      &.right {
        @include tablet-l {
          margin: 1.5em auto 1.5em 1.5em;
        }
      }

      img {
        margin: 0 auto;
        width: 16em;
      }

      & > .description {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 82%;

        h3 {
          font-size: 2em;
          font-weight: 500;
          margin: 0 auto;
        }

        p {
          color: color(paragraph);
          font-size: 1.6em;
          font-weight: 400;
          line-height: 1.9;
          margin: 0.6em auto;

          span {
            color: #48bc8d;
          }
        }
      }

      @include tablet-l {
        .description {
          h3 {
            width: 85%;
          }

          p {
            width: 88%;
          }
        }
      }

      @include desktop-s {
        display: flex;
        text-align: left;

        .description {
          background-color: transparent;
          padding-top: 4.5em;
          padding-bottom: 2em;

          h3 {
            width: 80%;
            margin: 0;
          }

          p {
            width: 100%;
            margin: 0;
            padding-top: 1em;
            padding-right: 2.8em;
          }
        }
      }
    }
  }

  a {
    background-color: color(button-bg);
    border-radius: 0.3em;
    color: white;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 1em;
    padding: 1.15em 1.95em;
    text-decoration: none;
  }

  a:hover {
    background-color: color(button-bg-hover);
  }
}

// Software Delivery Machine

.software-delivery-machine {
  color: color(heading);
  font-family: "Tofino", "sans-serif";
  margin-top: 12em;
  margin-bottom: 5em;

  @include desktop-s {
    margin-bottom: 10em;
  }

  & > h2 {
    font-size: 2.4em;
    text-align: center;

    @include tablet-s {
      font-size: 3em;
    }
  }

  & > p {
    color: color(paragraph);
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 auto;
    text-align: center;
    width: 88%;

    @include desktop-s {
      font-size: 1.8em;
    }
  }

  & > div {
    margin: 0 auto;
    position: relative;

    @include desktop-s {
      width: 80%;
      margin: 0 auto;
      margin-top: 6em;
    }

    @include desktop-m {
      width: 994px;
    }

    img {
      display: block;
      margin: 5.5em auto 3.2em auto;
      width: 92%;

      @include tablet-s {
        max-width: 506px;
      }

      @include desktop-s {
        position: absolute;
        left: -10em;
        top: 12.5%;
        width: 400px;
        z-index: 1;
      }

      @include desktop-m {
        left: -22em;
        top: 8em;
        width: 800px;
      }
    }

    & > div {
      background-color: color(div-bg);
      margin: 0 auto;
      padding: 1.2em;
      width: 92%;

      @include tablet-l {
        width: 78%;
      }

      @include desktop-s {
        width: 100%;
        margin: 0 auto;
      }

      @include desktop-m {
        max-width: 994px;
        padding-bottom: 3em;
      }

      &.chatops-div {
        @include desktop-s {
          padding-left: 27em;
        }
      }

      &.event-hub-div {
        @include desktop-s {
          padding-left: 32em;
        }
      }

      &.cortex-div {
        @include desktop-s {
          padding-left: 27em;
        }
      }

      i {
        display: block;
        font-size: 1.5em;
        position: relative;
        left: 1.3em;
        top: 1.3em;
      }

      .command-interface {
        color: #007bbd;
      }

      .chatops {
        color: #5bbcc3;
      }

      .event-hub {
        color: #c6dd72;
      }

      .cortex {
        color: #227f7e;
      }

      .integrations {
        color: #1b2937;
      }

      div {
        margin: auto 1.8em 1em 5em;

        h3 {
          color: color(heading);
          font-size: 1.8em;
          font-weight: 500;
          margin-bottom: 0.3em;
        }

        p {
          color: color(paragraph);
          font-size: 1.3em;
          font-weight: 400;
          line-height: 1.8;
        }
      }
    }
  }
}

// SDM

.sdm {
  background-color: color(div-bg);
  font-family: "Tofino", "sans-serif";
  padding: 4em 0;

  h2 {
    color: color(heading);
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1.5em;
    text-align: center;

    @include desktop-s {
      margin-top: 1.5em;
    }
  }

  & > div {
    @include tablet-l {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    & > div {
      background-color: white;
      box-shadow: 3px 3px 15px 13px darken(color(div-bg), 10%);
      margin: 2.5em auto;
      padding: 3.5em;
      width: 88%;

      &.left {
        @include tablet-l {
          margin: 0 1.3em 4.5em auto;
        }

        @include desktop-l {
          width: 572px;
        }
      }

      &.right {
        @include tablet-l {
          margin: 0 auto 4.5em 1.3em;
        }

        @include desktop-l {
          width: 572px;
        }
      }

      h3 {
        font-size: 1.8em;
        font-weight: 400;
      }

      p {
        color: color(light-paragraph);
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 1em;
      }

      ul {
        color: color(heading);
        font-size: 1.4em;
        font-weight: 400;
        line-height: 1.5;
        margin: 1.2em auto 1.8em 2.2em;

        li {
          margin: 0.8em auto;
        }
      }

      a {
        background-color: #227a7e;
        border-radius: 0.3em;
        color: white;
        display: inline-block;
        font-size: 1.3em;
        font-weight: 500;
        margin-top: 1.3em;
        padding: 0.8em 1.8em;
        text-decoration: none;
      }

      a:hover {
        background-color: #1a6362;
      }
    }
  }
}

//The Latest From Atomist

.latest {
  @include min-desktop {
    margin-left: 15rem;
    margin-right: 15rem;
  }

  @include desktop-l {
    margin-left: 40rem;
    margin-right: 40rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 2rem 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.05rem solid #9e9ea7;

    @include min-desktop {
      font-size: 2rem;
      margin: 0 2rem;
    }

    @include desktop-s {
      font-size: 2rem;
      margin: 0 -2rem;
    }

    @include desktop-l {
      margin: 0 2rem;
    }

    @include ipad-pro {
      margin: 2rem -10rem;
      margin-bottom: 10rem;
      font-size: 2.5rem;
    }
  }
}
.latest-list {
  list-style-type: none;

  li {
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 15rem;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: black;
    text-decoration: none;
    font-size: 2rem;

    @include min-desktop {
      flex-direction: row;
    }

    @include ipad-pro {
      flex-direction: column;
    }
    div {
      align-self: center;
    }
  }

  h4 {
    font-weight: 500;
    font-size: 2.5rem;

    @include min-desktop {
      font-size: 2rem;
    }
  }
  h4,
  p {
    margin: 0 2.5rem;

    @include min-desktop {
      margin-left: 5rem;
    }
  }

  p {
    line-height: 1.7;
    font-size: 1.9rem;
    margin-top: 1rem;
    color: #717274;

    @include min-desktop {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
  }

  .latest-link-desc {
    align-self: flex-start;

    @include ipad {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    @include ipad-pro {
      margin-left: -8rem;
      margin-right: -8rem;
    }
  }
}
.posted {
  margin-top: 3.5rem !important;
  margin: 2rem 2.5rem;
  font-size: 1.7rem;
  color: #717274;
  font-weight: 100;
  @include min-desktop {
    margin-left: 5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
  }
}

// Subscribe
.subscribe {
  background: url(../img/CTA-banner-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding-top: 6em;
  padding-bottom: 6em;
  text-align: center;

  @include tablet-l {
    padding-bottom: 8em;
  }

  h2 {
    font-size: 2.4em;
    font-weight: 500;
    line-height: 1em;

    @include tablet-l {
      font-size: 3.2em;
    }
  }

  p {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1em auto;
    width: 85%;

    @include desktop-s {
      margin-top: 2.3em;
    }
  }

  a {
    background-color: color(button-bg);
    border-radius: 0.3em;
    color: white;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 1em;
    padding: 1.15em 1.95em;
    text-decoration: none;
  }

  a:hover {
    background-color: color(button-bg-hover);
  }
}

// Footer
footer {
  font-family: "Tofino", "sans-serif";

  img {
    display: block;
    margin: 5em auto 1em auto;
    width: 5em;
  }

  .links-container {
    display: grid;
    grid-template-columns: auto;
    padding-top: 3em;
    padding-bottom: 1em;

    @include mobile-s {
      grid-template-columns: auto minmax(10em, 20em) auto;
    }

    @include desktop-s {
      grid-template-columns: auto 25em auto;
    }

    div > a {
      color: #858585;
      display: block;

      font-size: 1.6em;
      font-weight: 400;
      padding-bottom: 2em;
      text-decoration: none;
    }

    .left {
      text-align: center;

      @include mobile-s {
        margin-left: 1em;
        text-align: right;
      }
    }

    .middle {
      text-align: center;
    }

    .right {
      text-align: center;

      @include mobile-s {
        margin-right: 1em;
        text-align: left;
      }
    }
  }

  .social-media {
    margin: 0 auto 3.5em auto;
    text-align: center;

    i.fab {
      color: #227a7e;
      display: inline-block;
      font-size: 2.9em;
      padding: 0.5em 0.7em 0.5em 0.7em;
    }
  }

  p {
    color: #858585;
    display: block;
    font-size: 1.4em;
    line-height: 2em;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .term-privacy {
    margin: 3em auto 10em auto;
    text-align: center;

    a {
      color: #858585;
      font-size: 1.3em;
      text-decoration: none;
    }

    span {
      color: #858585;
      font-size: 1.8em;
    }
  }
}
