header {
    background-image: url("/img/atomist_logo_shapes_banner-home.jpg");
    background-size: cover;
    height: 70vh;
    background-position: bottom;
}
.navbar {
    font-size: 2.2rem;
    background-size: cover;
    background-position: left top;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-nav {
    display: none;
    
      


    li {
        margin-left: 2rem;
        margin-top: 3rem;
        list-style-type: none;
    }
    
}

.nav-links {
    text-decoration: none;
    color: white;

}

.active {
    display: block;
}

.disable {
    display: none;
}

.background-img-toggle {
    background-image: url("/img/atomist_logo_shapes_banner-product.jpg");
}

.app-sdm-container {
    position: absolute;
    top: 51.5rem;
}

.app-sdm {
    width: 100vw;
    height: 25vh
}

.login {
    position: relative;
    top: 35rem;
    color: white;
    margin-left: 2rem;

    p {
        font-size: 1.6rem;
    }
}

.heading {
    text-align: center;
    color: white;
    width: 100vw;
    position: absolute;
    top: 13rem;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
        font-weight: 100;
        margin-top: 1.5rem;
    }
}

// Color Definition 
$colors: (
    heading: #2a2a2a,
    paragraph: #717274,
    light-paragraph: #9e9eA7,
    div-bg: #F7F7F7,
    button-bg: lighten(#43B788, 6%),
    button-bg-hover: #43B788
);

@function color($color-name) {
    @return map-get($colors, $color-name);
};

// Responsive 
$tablet1: 550px;
$tablet2: 770px;
$desktop1: 1025px;
$desktop2: 1480px;
$desktop3: 1600px;

@mixin tablet1 {
    @media (min-width: #{$tablet1}) {
        @content
    }
}

@mixin tablet2 {
    @media (min-width: #{$tablet2}) {
        @content
    }
}

@mixin desktop1 {
    @media (min-width: #{$desktop1}) {
        @content
    }
}

@mixin desktop2 {
    @media (min-width: #{$desktop2}) {
        @content
    }
}

@mixin desktop3 {
    @media (min-width: #{$desktop3}) {
        @content
    }
}

// Modern Delivery Platform

.modern-delivery-platform{
    color: color(heading);
    margin-top: 40rem;                      // To be adjusted
    font-family: "Tofino", "sans-serif";    // To be adjusted
    font-size: 100%;
    text-align: center;

    h2 {
        font-size: 2.8em;
        margin-bottom: 0.8em;
    }

    &>div{

        @include tablet2 {
            display: grid;
            grid-column-gap: 0rem;
            grid-template-columns: 50% 50%;
        }

        &>div {
            background-color: color(div-bg);
            display: inline-block;
            margin: 1.4em auto;
            padding: 0 0 4em 0;
            width: 85%;

            &.left {
                @include tablet2 {
                    margin: 1.5em 1.5em 1.5em auto;
                }        
            }

            &.right {
                @include tablet2 {
                    margin: 1.5em auto 1.5em 1.5em;
                }    
            }

            img {
                margin: 0 auto;
                width: 16em;
            }

            &>.description {
                display: inline-block;
                margin: 0;
                padding: 0;
                width: 82%;

                h3 {
                    font-size: 2em;
                    font-weight: 500;
                    margin: 0 auto;  
                    
                }

                p {
                    color: color(paragraph);
                    font-size: 1.6em;
                    font-weight: 400;
                    line-height: 1.9;
                    margin: 0.6em auto;

                    span {
                        color: #48bc8d;
                    }
                }
            }

            @include tablet2 {
                .description {
                    h3 {
                        width: 85%;
                    }

                    p {
                        width: 88%;
                    }
                }
            }

            @include desktop1 {
                display: flex;
                text-align: left;

                .description {
                    background-color: transparent;
                    padding-top: 4.5em;
                    padding-bottom: 2em;
                    
                    h3 {
                        width: 80%;
                        margin: 0;
                    }

                    p {
                        width: 100%;
                        margin: 0;
                        padding-top: 1em;
                        padding-right: 2.8em;
                    }
                }
            }
        }
    }

    a {
        background-color: color(button-bg);
        border-radius: 0.3em;
        color: white;
        display: inline-block;
        font-size: 1.6em;
        font-weight: 500;
        margin-top: 1em;
        padding: 1.15em 1.95em;
        text-decoration: none;
    }

    a:hover {
        background-color: color(button-bg-hover);
    }
}

// Software Delivery Machine

.software-delivery-machine {
    color: color(heading);
    font-family: "Tofino", "sans-serif";
    margin-top: 12em;
    margin-bottom: 5em;

    @include desktop1 {
        margin-bottom: 10em;
    }

    &>h2 {
        font-size: 2.4em;
        text-align: center;

        @include tablet1 {
            font-size: 3em;
        }
    }

    &>p {
        color: color(paragraph);
        display: block;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 1.7;
        margin: 0 auto;
        text-align: center;
        width: 88%;

        @include desktop1 {
            font-size: 1.8em;
        }
    }

    &>div{
        margin: 0 auto;
        position: relative;

        @include desktop1 {
            width: 80%;
            margin: 0 auto;
            margin-top: 6em;
        }

        @include desktop2 {
            width: 994px;
        }

        img {
            display: block;
            margin: 5.5em auto 3.2em auto; 
            width: 92%;

            @include tablet1 {
                max-width: 506px;
            }

            @include desktop1 {
                position: absolute;
                left: -10em;
                top: 12.5%;
                width: 400px;
                z-index: 1;
            }

            @include desktop2 {
                left: -22em;
                top: 8em;
                width: 800px;
            }
        }

        &>div {
            background-color: color(div-bg);
            margin: 0 auto;
            padding: 1.2em;
            width: 92%;

            @include tablet2 {
                width: 78%;
            }

            @include desktop1 {   
                width: 100%;            
                margin: 0 auto;
            }

            @include desktop2 {
                max-width: 994px;
                padding-bottom: 3em;
            }

            &.chatops-div {
                @include desktop1 {
                    padding-left: 27em;
                }
            }

            &.event-hub-div {
                @include desktop1 {
                    padding-left: 32em;
                }
            }

            &.cortex-div {
                @include desktop1 {
                    padding-left: 27em;
                }
            }

            i {
                display: block;
                font-size: 1.5em;
                position: relative;
                left: 1.3em;
                top: 1.3em;
            }

            .command-interface {
                color: #007BBD;
            }

            .chatops {
                color: #5BBCC3;
            }

            .event-hub {
                color: #C6DD72;
            }

            .cortex {
                color: #227F7E;
            }

            .integrations {
                color: #1B2937;
            }
            
            div {
                margin: auto 1.8em 1em 5em;

                h3 {
                    color: color(heading);
                    font-size: 1.8em;
                    font-weight: 500;
                    margin-bottom: 0.3em;
                }

                p {
                    color: color(paragraph);
                    font-size: 1.3em;
                    font-weight: 400;
                    line-height: 1.8;
                }
            }
        }
    }
}

// SDM

.sdm {
    background-color: color(div-bg);
    font-family: "Tofino", "sans-serif";
    padding: 4em 0;

    h2 {
        color: color(heading);
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 1.5em;
        text-align: center;

        @include desktop1 {
            margin-top: 1.5em;
        }
    }

    &>div {

        @include tablet2 {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        &>div {
            background-color: white;
            box-shadow: 3px 3px 15px 13px darken(color(div-bg), 10%);
            margin: 2.5em auto;
            padding: 3.5em;
            width: 88%;

            &.left {
                @include tablet2 {
                    margin: 0 1.3em 4.5em auto;
                }

                @include desktop3 {
                    width: 572px;
                }
            }

            &.right {
                @include tablet2 {
                    margin: 0 auto 4.5em 1.3em;
                }

                @include desktop3 {
                    width: 572px;
                }
            }

            h3 {
                font-size: 1.8em;
                font-weight: 400;
            }

            p {
                color: color(light-paragraph);
                font-size: 1.5em;
                font-weight: 400;
                line-height: 1.4;
                margin-top: 1em;
            }

            ul {
                color: color(heading);
                font-size: 1.4em;
                font-weight: 400;
                line-height: 1.5;
                margin: 1.2em auto 1.8em 2.2em;

                li {
                    margin: 0.8em auto;
                }
            }

            a {
                background-color: #227A7E;
                border-radius: 0.3em;
                color: white;
                display: inline-block;
                font-size: 1.3em;
                font-weight: 500;
                margin-top: 1.3em;
                padding: 0.8em 1.8em;
                text-decoration: none;
            }

            a:hover {
                background-color: #1A6362;
            }
        }
    }
}