header {
    background-image: url("/img/atomist_logo_shapes_banner-home.jpg");
    background-size: cover;
    height: 70vh;
    background-position: bottom;
}
.navbar {
    font-size: 2.2rem;
    background-size: cover;
    background-position: left top;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-nav {
    display: none;
    
      


    li {
        margin-left: 2rem;
        margin-top: 3rem;
        list-style-type: none;
    }
    
}

.nav-links {
    text-decoration: none;
    color: white;

}

.active {
    display: block;
}

.disable {
    display: none;
}

.background-img-toggle {
    background-image: url("/img/atomist_logo_shapes_banner-product.jpg");
}

.app-sdm-container {
    position: absolute;
    top: 51.5rem;
}

.app-sdm {
    width: 100vw;
    height: 25vh
}

.login {
    position: relative;
    top: 35rem;
    color: white;
    margin-left: 2rem;

    p {
        font-size: 1.6rem;
    }
}

.heading {
    text-align: center;
    color: white;
    width: 100vw;
    position: absolute;
    top: 13rem;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
        font-weight: 100;
        margin-top: 1.5rem;
    }
}