// Responsive
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet1: 550px;
$tablet2: 768px; //changed to 768 rom 770
$desktop1: 1024px; //changed to 1024 from 1025
$desktop2: 1440px; //changed to 1440 from 1448
$desktop3: 1600px;

// Color Definition
$colors: (
  heading: #2a2a2a,
  paragraph: #717274,
  light-paragraph: #9e9ea7,
  div-bg: #f7f7f7,
  button-bg: lighten(#43b788, 6%),
  button-bg-hover: #43b788
);
